.navbar-wrapper {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  padding: 10px 15px;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.logo-wrapper {
  flex-grow: 0.3  ;
  text-align: center;
  font-size: 1.7rem;

}

.search-wrapper {
  align-self: center;
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
}


.search-wrapper input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 1rem;
  color: #777;
  padding: 0 10px;
}

.search-wrapper input:focus{
  outline: none;
}

.search-results-wrapper {
  width: 100%;
  position: absolute;
  max-height: 150px;
  background-color: #fff;
  left: 0;
  padding: 10px;
  top: 32px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.search-item {
  padding: 5px 5px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #eee;
}

.user-details-wrapper {
  align-self: flex-end;
  flex-grow: 0.3;
  font-size: 1.2rem;
  text-align: center;
}
.cart-wrapper {
  display: flex;
  align-self: flex-end;
  flex-grow: 0.2;
  font-size: 1.2rem;
  text-align: center;
}

.cart > img {
  width: 25px;
  cursor: pointer;
}